policy_module(my_trusted, 1.0)

gen_require(`
    type unconfined_t;
    type user_devpts_t;
    role unconfined_r;

    class chr_file { open read write ioctl getattr };
    class process transition;
    class file { read open execute getattr entrypoint };
')

# TPM device type that unconfined processes cannot access
type my_tpm_device_t;
neverallow unconfined_t my_tpm_device_t:chr_file *;

# Trusted domain for processes allowed to access TPM
type my_trusted_t;
type my_trusted_exec_t;

role unconfined_r types my_trusted_t;

application_domain(my_trusted_t, my_trusted_exec_t)

# Allow unconfined domain to execute trusted binaries and transition
allow unconfined_t my_trusted_exec_t:file { read open execute getattr };
allow unconfined_t my_trusted_t:process transition;
domain_auto_trans(unconfined_t, my_trusted_exec_t, my_trusted_t)

allow my_trusted_t my_trusted_exec_t:file entrypoint;

# Terminal access for trusted domain
allow my_trusted_t user_devpts_t:chr_file { read write open getattr ioctl };

# TPM access for trusted domain
allow my_trusted_t my_tpm_device_t:chr_file { open read write ioctl getattr };
allow unconfined_t my_tpm_device_t:chr_file { relabelto };
